<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Evento</title>
</head>
<body>
    <h1>Criar Evento</h1>

    <form>
        <label for="name">Nome</label>
        <input id="name" type="text" name="nome" placeholder="Nome">

        <label for="Data">Data</label>
        <input id="Data" type="date" name="data" placeholder="Data">

        <label for="Local">Local</label>
        <input id="Local" type="text" name="local" placeholder="Local">

        <button type="submit">Criar</button>

    </form>
</body>
</html>